html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 320px / 15;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 360px / 15;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 375px / 15;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 384px / 15;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 400px / 15;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 414px / 15;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 424px / 15;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 480px / 15;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 540px / 15;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 720px / 15;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 750px / 15;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  box-sizing: border-box;
}
header {
  width: 15rem;
  height: 12.4rem;
  background: #ffdb47;
}
.header-bd {
  display: flex;
  position: fixed;
  top: 0;
  width: 15rem;
  height: 1.6rem;
  background: #333333;
}
.header-hd {
  display: flex;
  flex-direction: column;
}
.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.9rem 0 0 0.7rem;
}
.classify,
.login {
  width: 1.4rem;
  height: 1.7rem;
  background: url(../upload/classify-icon.png) no-repeat;
}
.login {
  background: url(../upload/login.png) no-repeat;
}
.to_go img {
  width: 6.8rem;
  height: 1.5rem;
  line-height: 1.7rem;
}
.search {
  width: 14.2rem;
  height: 1.3rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  background: #f2f2f2;
}
.search img {
  margin: 0.1rem 0.4rem;
  width: 0.96rem;
  height: 0.96rem;
}
.search a {
  font-size: 0.5rem;
  color: #757575;
  line-height: 1.3rem;
}
.focus img {
  width: 14rem;
  height: 6.4rem;
  margin: 0.4rem 0.5rem;
}
.main {
  width: 15rem;
}
.pic img {
  width: 15rem;
  height: 5rem;
  margin: 0 auto;
}
.lifeservices ul {
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lifeservices li {
  flex: 20%;
}
.lifeservices a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.44rem;
}
.service-icon1 {
  width: 2rem;
  height: 2rem;
  background: url(../upload/miaosha.png) no-repeat;
  background-size: 2rem;
}
